body {
	background-color: #0f0f23;
	font-family: "Source Code Pro", monospace;
}

input,button {
	font-family: "Source Code Pro", monospace;
  border: 0;
  background-color: inherit;
  border-bottom: 1px solid #fff;
  color: #fff;
}

button {
  border-bottom:none;
}
textarea, input { outline: none; }

#adminUser input, #adminPass input, #memberUser input, #memberPass input, #userNotExist {
	font-size: 50px;
}

button:hover{
	color: #009900;
	border-bottom: none;
}
