<!DOCTYPE html>
<html>
<head>
	<title>Enter Code</title>
	<link rel="stylesheet" type="text/css" href="/static/styles.css"/>
	<script src="/static/scripts/jquery-2.2.1.min.js"></script>
    <script src="/static/scripts/adminjs.js"></script>
</head>
<body>
	<div>
	    <div id="adminLoginPanel" >
	        <form id="AdminForm" class="passwordNotConfirmed">
	            <input type="password" name="verifyUserPass" placeholder="Password" id="firstPasswordVerification">
	            <input type="password" name="confirmRegisteredUserPass" placeholder="Confirm password" id="confirmPassVerification" style="display:none">
	            <span class='matchingMessage'></span>
	            <input type="submit" style="display:none">
	        </form>

	    </div>
	</div>
</body>
</html>
