<!DOCTYPE html>
<html>
<head>
	<title>Enter Code</title>
	<link rel="stylesheet" type="text/css" href="/static/styles.css"/>
	<script src="/static/scripts/jquery-2.2.1.min.js"></script>
    <script src="/static/scripts/adminjs.js"></script>
</head>
<body>
	<div>
		<div id="adminLoginPanel" >

			<form id="adminForm" class="userStep">

				<div id="adminUser">
					<input type="text" name="adminUser" value="">
				</div>

				<div id="adminPass" style="display:none">
					<input type="password" name="adminPass" value="">
				</div>

				<input type="submit" value="Login" style="display:none">
			</form>

		</div>
	</div>
</body>
</html>
