<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <title>Panel Page</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css"/>
    <script src="/static/scripts/jquery-2.2.1.min.js"></script>
    <script src="/static/scripts/paneljs.js"></script>
</head>
<body>
    <div>
        <h1>Has Permissions</h1>
        <form id="verifyPermissionsForm">
            <input placeholder="Operation" id="operationToVerify" required>
            <input placeholder="Specific" id="specificToVerify" required>
            <input type="submit" style="display:none">
        </form>
        <h1>Add Permission</h1>
        <form id="addPermissionForm">
            <input placeholder="Operation" id="operationToAdd" required>
            <input placeholder="Specific" id="specificToAdd" required>
            <input type="submit" style="display:none">
        </form>

    </div>
</body>
</html>