<!DOCTYPE html>
<html>
<head>
    <title>Member Page</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css"/>
    <script src="/static/scripts/jquery-2.2.1.min.js"></script>
    <script src="/static/scripts/userjs.js"></script>
</head>
<body>
{% if userInJSON %}
    <div>
        <div id="memberLoginPanel" >
            <form id="IsRegisteredForm">

                <div id="memberPasswordBox">
                    <input type="password" name="memberPass" placeholder="Password" id="registeredPasswordVerification">
                </div>

                <input type="submit" value="Login" style="display:none">
            </form>

        </div>
    </div>
{% end %}

{% if not userInJSON %}
    <div id="notRegisteredPanel">
        <span id="userNotExist" style="color:#fff">User is not registered</span>
        <button name="button" id="registerUserBtn">[Register User]</button>
    </div>

    <div id="enterPass" style="display: none">
        <form id="userForm" class="passwordNotConfirmed">
            <input type="password" name="registerUserPass" placeholder="Password" id="firstPassword">
            <input type="password" name="confirmRegisterUserPass" placeholder="Confirm password" id="confirmPass" style="display:none">
            <span id='matchingMessage'></span>
            <input type="submit" style="display:none">
        </form>
    </div>
{% end %}

</body>
</html>
